<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <!--Windows Service Configuration-->
    <add key="ServiceName" value="IISLogCleaner" />
    <add key="ServiceDisplayName" value="IIS Log Cleaner" />
    <add key="ServiceDescription" value="Remove old IIS Log Files" />
    <!--IIS Log File Path & Days to Keep-->
    <add key="DirectoryPath" value="C:\inetpub\logs\LogFiles" />
    <add key="FileExtension" value="*.log" />
    <add key="DaysToKeep" value="30" />
    <!--How ofter the process should run in Hours-->
    <add key="RunInterval" value="24" />
    <!--Other Configuration-->
    <add key="AppLogSourceName" value="IIS Log Cleaner" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>